<tr class="fila" id="<%=u.id%>">
	<td>
		<%=u.email%>
	</td>
	<td>
		<input type="button" value="borrar" onClick="borrar_usuario(<%=u.id%>);"/>
		<input type="button" value="resetear password y enviar mail" onClick="reset_password(<%=u.id%>);"/>
	</td>
</tr>