<tr class="fila" id="<%=u.id%>">
	<td>
		<%=u.email%>
	</td>
	<td>
		<input type="button" value="enviar bienvenida" onClick="enviar_bienvenida(<%=u.id%>;"/>
		<input type="button" value="borrar" onClick="borrar_usuario(<%=u.id%>);"/>
	</td>
</tr>