 HTM TAGS ___________________________________________________________________*/

html{
	font-size:100%;
	}
body{
	margin:0;padding:0;
	text-align:center;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:62.5%;color:#666;
	background-color:#eee;
	}
abbr{
	text-decoration:none;border:0;
	}

/*WRAPPER _____________________________________________________________________*/

#wrapper{
	width:100em;margin:0 auto; 
	}

/* CONTENEDOR _________________________________________________________________*/

#contenedor{
	display:block;width:98em;margin:0; padding: 0 1em;
	background-color:#FFF;
	text-align:left;float:left;
	}
#accesoDirecto{
	display:block;
	position:absolute;left:-1000em;top:-1000em;
	}

/* ENCABEZADO _________________________________________________________________*/

#encabezado{
	width:98em;height:9.2em;
	padding-bottom:1em;
	background-color:#009899;
	}
#marca{
	display:block;position:absolute;width:1em;height:10.2em;
	background-image:url(/images/fondoEncabezadoIzq.gif);background-position:left bottom;background-repeat:no-repeat;
	z-index:2
	}
#encabezado h1{
	display:block;position:absolute;width:21.5em;height:9.2em;margin:0;padding:0;
	font-size:1em;text-indent:-1000em;
	background-image:url(/images/logo.jpg);background-position:center bottom;background-repeat:no-repeat;
	z-index:1;
	}
#aclaracionMarca{
	display:block;position:absolute;width:98em;height:10.2em;
	background-image:url(/images/fondoEncabezadoDer.gif);background-position:right bottom;background-repeat:no-repeat;
	z-index:2
	}
#encabezado h2{
	display:block;position:absolute;width:42em;top:3em;margin:0 0 0 12em;padding:0em;
	font-size:1.8em;line-height:1em;font-weight:normal;color:#fff;
	}

/* Login y buscar */

#encabezado #barraUsuario{
	position:absolute;width:54.9em;left:50%;margin-left:-16.3em;
	z-index:3;
}
#encabezado #login{
	width:27.1em;padding:0.5em 2em 1em 1em;
	background-color:#CCC;background-image:url(/images/fondoLogin.gif);background-position:left bottom;background-repeat:no-repeat;
	float:left;
	}
#encabezado #buscar{
	display:block;width:21.2em;padding:0.5em 1em 1em 0;
	background-color:#CCC;background-image:url(/images/fondoBuscador.gif);background-position:right bottom;background-repeat:no-repeat;
	float:left;
}
#usuarioTxt{
	width:11em;margin:0 0.5em 0 0;padding:0; 
	font-size:1em;float:left;
}
#claveTxt{
	width:11em;margin:0 0.5em 0 0;padding:0; 
	font-size:1em;float:left;
}
#buscarTxt{
	width:17.5em;margin-right:0.5em;padding:0; 
	font-size:1em;float:left;
}
#loginBtn,#buscarBtn{
	width:2.3em;margin:0;padding:0; 
	text-align:center;font-size:1em;color:#FFF;
	background-color:#009899;border:0;
	cursor:pointer;float:left;
}
/* CUERPO __________________________________________________________________________*/

#cuerpo{
	width:97.9em;margin:1.5em 0 0 0;padding:0;
	background-image:url(/images/fondoLinea.gif);background-repeat:repeat-y;background-position:right;
	float:left;
	}

/* MENU ____________________________________________________________________________*/

#menu{
	float:left;
	width:15em;
	}
#menu h3{
	position:absolute;top:-10em
	}
#menu ul{
	margin:0;padding:0;
	}
#menu li{
	width:15em;margin:0;padding:0;
	font-size:1em;font-weight:bold;list-style-type:none;
	clear:left;
	}
#menu li a{
	line-height:2em;
	}
#menu li img{
	display:inline;
	margin:0 0.5em -0.5em 1em;
	border:0
	}
#menu ul ul{
	padding:0 !important;
	}
#menu ul ul ul{
	padding-left:2.8em !important;
	}
#menu li li{
	width:12em;margin-left:3em;padding:0 !important;
	font-size:1em !important;font-weight:normal !important;
	}
#menu li li li{
	width:10.2em;margin-left:-1em;
	}
#menu li li a, #menu li li li a{
	margin-left:1em;
	}
#menu a, #menu a:link, #menu a:visited{
	color:#666;text-decoration:none;margin-left: 5px;
	}
#menu a:hover{
	color:#009899;
	}

/* CONTENIDO _________________________________________________________________________*/

#contenido{
	width:80.9em;padding:1em 0.9em 1em 1.1em;
	float:left;
	}
#contenido h3{
	margin:0 !important;
	font-size:250%;font-weight:normal;
	}
.mayuscula{
	text-transform:uppercase;
	}

/* ESTETICA _________________________________________________________________________*/

.esteticaIzq{
	width:98em;
	background-image:url(/images/fondoLinea.gif);background-repeat:repeat-y;background-position:14.9em 0;
	float:left;
	}
	
/*TECHO*/

.techo{
	display:block;width:85.1em;height:1em;padding:0 0 0em 14.9em;
	float:left;
	}
.esteticaSup{
	display:block;width:83.1em;height:1em;margin-right:2em;
	background-image:url(/images/fondoLinea.gif);background-repeat:repeat-x;background-position:top;
	float:left;
	}
.esteticaSupIzq{
	display:block;width:82em;height:1em;
	background-image:url(/images/fondoRedondoSupIzq.gif);background-repeat:no-repeat;background-position:top left;
	float:left;
	}
.esteticaSupDer{
	display:block;width:1em;height:1em;
	background-image:url(/images/fondoRedondoSupDer.gif);
	float:left;
	}

/*PIE*/

.pie{
	display:block;width:85.1em;height:1em;padding:0 0 0em 14.9em;
	float:left;
	}
.esteticaInf{
	display:block;width:83.1em;height:1em;
	background-image:url(/images/fondoLinea.gif);background-repeat:repeat-x;background-position:bottom;
	float:left;
	}
.esteticaInfIzq{
	display:block;width:82em;height:1em;
	background-image:url(/images/fondoRedondoInfIzq.gif);background-repeat:no-repeat;background-position:bottom left;
	float:left;
	}
.esteticaInfDer{
	display:block;width:1em;height:1em;
	background-image:url(/images/fondoRedondoInfDer.gif);
	float:left;
	}

/*MENU*/

.esteticaMenu{
	margin:0.5em 0;padding:0;
	background-image:url(/images/fondoLinea.gif);background-repeat:repeat-y;background-position:left;
	border-right:1px solid #FFF;
	}
.esteticaMenuSup{
	height:1em;margin:0;
	background-image:url(/images/fondoLinea.gif);background-repeat:repeat-x;background-position:top;
	}
.esteticaMenuSupIzq{
	display:block;width:1em;height:1em;
	background-image:url(/images/fondoRedondoSupIzq.gif);background-repeat:no-repeat;background-position:left top;
	}
.esteticaMenuInf{
	width:100%;height:1em;
	background-image:url(/images/fondoLinea.gif);background-repeat:repeat-x;background-position:bottom;
	}
.esteticaMenuInfIzq{
	display:block;width:1em;height:1em;
	background-image:url(/images/fondoRedondoInfIzq.gif);background-repeat:no-repeat;background-position:bottom left;
	}
li li .esteticaMenu a{
	line-height:0.4em !important;
} 

/* CONTENIDO _________________________________________________________________________*/

/*FILTROS DE TABLAS */
.filtroTabla{
	width:100%;margin:2em 0; 	
	}
.filtroOrden{
	float:left;
	}
.filtroOrden label{
	text-transform:uppercase;font-weight:bold;
	}
.filtroOrden select{
	font-size:0.9em;text-transform:uppercase;font-weight:bold;color:#666;
	}
.filtroCantidad label{
	padding-left:2em;text-transform:uppercase;font-weight:bold;
	}
.filtroCantidad input{
	font-size:1em;font-weight:bold;color:#666;
}
.filtroCantidad .btnCantidad{
	margin-bottom:-0.3em;
	}
/*TABLAS */
/*LISTADO DE PRODUCTOS */
.listadoProductos{
	width:100%;
	font-size:1.1em;color:#000;line-height:140%;
	border-bottom:1px solid #CCC;
	}
.listadoProductos em{
	font-size:120% !important;font-style:normal;font-weight:normal;color:#009899;
	}
.listadoProductos em.precio{
	font-size:180% !important;font-style:normal;line-height:130%;
	}
.listadoProductos td{
	padding:1em 0 1em 1em;
	border-top:1px solid #CCC;
	}
.listadoProductos a.comparePrices, .listadoProductos a.comparePrices:hover, .listadoProductos a.comparePrices:visited{
	display:block;width:auto;margin-top:1em;
	color:#000;font-weight:bold;text-decoration:none;
	background-color:#CCC;
	white-space:nowrap;
	}
.listadoProductos a.whyBuy, .listadoProductos a.whyBuy, .listadoProductos a.whyBuy:visited{
	display:block;width:auto;margin-top:0.5em;padding-left:1.5em;
	color:#000;font-weight:bold;text-decoration:none;
	background-image:url(/images/fondoFlechaDer.jpg);background-repeat:no-repeat;background-position:left;
	white-space:nowrap;
	}
	
/*DETALLE DE PRODUCTOS */

.detalleProducto{
	display:block;width:100%;margin-top:1em;
	float:left;
}
.detalleDescripcion{
	display:block;width:50%;
	float:left;
	}
.detalleDescripcion p{
	padding-right:2em;
	}
.detalleEspecificacion{
	display:block;width:50%;
	float:right;
	}
.detalleEspecificacion h3{
	font-size:1.9em !important;color:#009899;
	}
.detalleEspecificacion h4{
	display:block;width:100%;margin:0.5em 0;padding:0.1em;
	font-size:1.1em;font-weight:bold;color:#FFF;clear:left;
	background-color:#009899;
	}
.detalleEspecificacion dl{
	display:block;width:100%;margin:0 0 0.5em 0;padding:0;
	font-weight:bold;float:left;
	}
.detalleEspecificacion dt{
	display:block;width:60%;margin:0;padding:0;
	float:left;
	}
.detalleEspecificacion dd{
	display:block;width:40%;margin:0;padding:0;
	text-align:left;float:right;
	}
/*GRAFICOS DEL PRODUCTO */
.graficosProducto{
	display:block;width:80em;margin-top:1em;
	float:left;
}
.graficosProducto .historialPrecio, .graficosProducto .volumenImportado{
	display:block;width:40em;
	float:left;
}
.graficosProducto .historialPrecio h4, .graficosProducto .volumenImportado h4{
	font-size:1.1em !important;color:#009899;
}
/*PRODUCTOS SIMILARES (Estilos de tabla en "listadoProductos") */

.productosSimilares{
	display:block;width:80em;margin:2em 0;
	float:left;
}
.productosSimilares h4{
	font-size:1.1em !important;color:#009899;
}

/*COMPARACION DE PRODUCTOS */

.comparacionProductos{
	width:100%;
	font-size:10%;	
	}
.comparacionProductos em{
	font-size:140% !important;font-style:normal;font-weight:normal;color:#009899;
	}
.comparacionProductos th{
	width:10em;padding:0 1em 1.5em 0;
	text-align:left;text-transform:uppercase;
	}
.comparacionProductos td{
	padding:0 0 1.5em 1em;
	border-left:1px solid #CCC;
	font-weight:bold;
	}
.rankingProducto{
	padding:0 0 1em 1em;
	}
/* ULTIMAS PUBLICACIONES */
.ultimasPublicaciones{
	display:block;width:80em;margin:2em 0;
	float:left;
	}
.ultimasPublicaciones h4{
	display:block;
	font-size:1.1em !important;color:#009899;
}

/* CUERPO PUBLICACIONES */

.cuerpoPublicaciones{
	display:block;width:78.4em;padding:1em 0 1em 1.4em;
	float:left;
	border-left:1px solid #CCC;border-right:1px solid #CCC;
}
.cuerpoPublicaciones img{
	float:left;margin-right:1em
}
/*TECHO*/

.ultimasPublicaciones .techo{
	display:block;width:80em;height:1em;padding:0 !important;
	float:left;
	}
.ultimasPublicaciones .esteticaSup{
	display:block;width:80em;height:1em;marging:0 !important;
	background-image:url(/images/fondoLinea.gif);background-repeat:repeat-x;background-position:top;
	float:left;
	}
.ultimasPublicaciones .esteticaSupIzq{
	display:block;width:79em;height:1em;
	background-image:url(/images/fondoRedondoSupIzq.gif);background-repeat:no-repeat;background-position:top left;
	float:left;
	}
.ultimasPublicaciones .esteticaSupDer{
	display:block;width:1em;height:1em;
	background-image:url(/images/fondoRedondoSupDer.gif);
	float:left;
	}

/*PIE*/

.ultimasPublicaciones  .pie{
	display:block;width:80em;height:1em;padding:0 !important;
	float:left;
	}
.ultimasPublicaciones  .esteticaInf{
	display:block;width:80em;height:1em;
	background-image:url(/images/fondoLinea.gif);background-repeat:repeat-x;background-position:bottom;
	float:left;
	}
.ultimasPublicaciones  .esteticaInfIzq{
	display:block;width:79em;height:1em;
	background-image:url(/images/fondoRedondoInfIzq.gif);background-repeat:no-repeat;background-position:bottom left;
	float:left;
	}
.ultimasPublicaciones  .esteticaInfDer{
	display:block;width:1em;height:1em;
	background-image:url(/images/fondoRedondoInfDer.gif);
	float:left;
	}
	
/* PAGINA PUBLICACIONES */

#tabla_promos {
	position: relative;
	top: 100px;
	width: 950px;
	left: -80px;
}

/* REPORTES */

.pulldown_selector {
	font-size: 12px;
	width: 125px;
}

.pulldown_span {
	position: relative;
	left: 3px;
	display: inline;
}

.filtros {
	width: 100%;
	display: block;
}

.selector {
	float: left;
	width: 190px;
}

.grafico {
	height: 400px;
	width: 400px;
	float: left;
}

.grafico_ancho {
	height: 400px;
	width: 800px;
	float: left;
}

.boton {
	height: 20px;
	width: 400px;
	float: left;
}

.img_boton {
	position: relative;
	top: -371px;
	left: 312px;
	z-index: 500;
	cursor: pointer;
}

.img_boton_grafico_ancho {
	position: relative;
	top: -371px;
	left: 711px;
	z-index: 500;
	cursor: pointer;
}

.img_boton_multiprod {
	position: relative;
	top: -1165px;
	left: 692px;
	z-index: 500;
	cursor: pointer;
}

.titulo_grafico {
	position: relative;
	left: 21px; 
	font-size: 12px; 
	font-weight: bold; 
	font-family: Verdana, Arial; 
	z-index: 500;
}

.sencilla_delgada_linea_gris {
	height: 0px;
	width: 800px;
	float: left;
	border-top: 1px solid #DDD;
	position: relative;
	top: -8px;
}

/* DATEPICKER */

.date_div {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background-image: -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background-image: -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background-image: -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  
  position: relative;
  height: 28px;
  width: 100px;
}

.date_input {
  color: #666;
  background: transparent !important;
  border: 0 !important;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow   : none;
  -o-box-shadow     : none;
  box-shadow        : none;
  position: relative;
  top: -6px;
  left: 12px;
  width: 100px;
}

/* TOOLTIPSY */

.tooltipsy
{
    padding: 2px;
    max-width: 200px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.imagen_producto {
	max-width: 200px;
	max-height: 200px;
	padding: 0px;
	align: center;
}

.imagen_producto_relacionado {
	max-width: 100px;
	max-height: 100px;
}

.imagen_promo {
	max-width: 100px;
	max-height: 100px;
	cursor: pointer;
}

.select_producto_a {
	background-color: #E5E5E5;
}
.select_producto_b {
	background-color: #FFFFFF;
}

table.listadoProductos {
	font-family:Verdana;
	font-size:10px;
	color:#666;
	width: 85%;
	font-weight:bold;
	background-color:#CCC;
	border-top:1px solid #CCC;
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;
}

tr.tr_producto_relacionado {
	background-color:#FFF;
}

td.td_producto_relacionado {
	border-top:1px solid #CCC;
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;
}

th.th_producto.relacionado {
	background-color:#FFF;
	border-top:1px solid #CCC;
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;
}

/* NUEVA BARRA DE MENU */

div.contenido_barra_menu{
	width:960px;
	margin:0 auto	
}
div#barra_menu h1{
	outline:none;
	margin:0;
	padding:0;
}
div#barra_menu ul{
	list-style:none
}
div#barra_menu a{
	text-decoration:none
}
div#barra_menu ul li, div#footer div.links a{
	margin-right:8px
}
div#barra_menu ul li:last-child{
	margin-right:0
}
div#barra_menu{
	padding:0px 0 10px;
	background:url(http://img.idashboard.la/bg-menu.png) repeat-x;
	position:fixed;
	width:100%;
	top:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#666;
	z-index: 9999;
}
div#barra_menu h1{
	background:url(http://img.idashboard.la/idashboard.png) no-repeat;
	width:420px;
	height:38px;
	display:block;
	text-indent:-9999px
}
div#barra_menu h1, div#barra_menu ul{
	margin-right:66px
}
div#barra_menu h1, div#barra_menu ul, div#barra_menu ul li, div#clientes ul li, div#footer div.links a{
	float:left
}
div#barra_menu ul.items{
	margin-top:10px
	outline:none;
	margin:10px;
}
div#barra_menu ul.social, div#barra_menu ul.paises{
	margin-top:6px
}
div#barra_menu ul.paises{
	margin-right:0;
	float:right;
	outline:none;
}
div#barra_menu ul.paises li img{
	cursor:pointer;
}
div#barra_menu ul.items li a, div#footer div.links a{
	background:url(http://img.idashboard.la/sep.gif) no-repeat right 3px;
	display:block;
	padding-right:8px	
}
div#barra_menu ul.items li a{
	text-transform:uppercase;
	color:#FFF;
	font-size:12px;
	font-weight:bold;
}
div#barra_menu ul.items li:last-child a, div#footer div.links a:last-child{
	background:none
}
