<div class="grafico" id="grafico1">
</div>

<div class="grafico" id="grafico2">
</div>

<br/><br/><br/><br/>

<div class="sencilla_delgada_linea_gris" style="display: none;">
</div>

<div class="grafico" id="grafico3">
</div>

<div class="grafico" id="grafico4">
</div>

<br/><br/><br/><br/>

<div class="grafico" id="grafico5">
</div>

<div class="grafico" id="grafico6">
</div>

<br/><br/><br/><br/>

<div class="grafico" id="grafico7">
</div>

<div class="grafico" id="grafico8">
</div>

<br/><br/><br/><br/>

<div class="sencilla_delgada_linea_gris" style="display: none;">
</div>

<div class="grafico_ancho" id="grafico9">
</div>

<br/><br/><br/><br/>

<div class="grafico_ancho" id="grafico10">
</div>

<br/><br/><br/><br/>